<template lang='pug'>
    div().p-cards
        div.p-cards__row
            div(
                v-for='user in getUsers'
                v-if='$store.state.auth.user == undefined || user.uid !== $store.state.auth.user.uid'
            ).p-cards__col
                userCard(v-bind:user='user')
        div(v-if="users.length > 0").p-cards__more-wrapper {{users.length}}
            div(v-on:click='loadMoreUsers').p-cards__more.button.button--green#p-cards__more Load more
</template>

<script>
import { mapGetters } from 'vuex';

import firebase from 'firebase/app'
require('firebase/auth')
require('firebase/database')
import 'firebase/firestore'

import userCard from '~/components/userCard.vue'

export default {
    components: {
        userCard
    },

    data() {
        return {
            users: []
        }
    },
    computed: {
        ...mapGetters({
            getUsers: 'cards/getUsers',
        }),
    },
    mounted(){

        // let bottom = document.getElementById('p-cards__more'),
        // scrolled,
        // windowHeight,
        // bottomOffset,
        // that = this
        
        // window.addEventListener('scroll', function() {
        //     scrolled = pageYOffset
        //     windowHeight = window.innerHeight
        //     bottomOffset = bottom.getBoundingClientRect().top
        //     if (bottomOffset < windowHeight) {
        //         that.$store.dispatch('cards/loadCards')
        //     }
        // })

        
    },
    
    methods: {

        loadMoreUsers() {
            this.$store.dispatch('cards/loadCards')
        }
    }
}
</script>


<style lang="scss">

.p-cards {

    &__row {

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;
        }
    }

    &__col {
        margin-bottom: 10px;

        @media screen and (min-width: 768px) {
            padding: 0 5px;
            width: 33.3333%;
        }

        @media screen and (min-width: 1200px) {
            width: 25%;
        }
    }

    &__more {
        margin: 0 auto;
        display: inline;
        text-align: center;

        &-wrapper {
            display: flex;
            justify-content: center;
            padding: 40px 0;
        }
    }
}

.p-card {
    position: relative;
    padding: 10px;
    box-shadow: 0 0 40px rgba(38, 37, 88, 0.1);
    overflow: hidden;
    transition: box-shadow .3s;
    height: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: transform .3s, opacity .3s;

    &--loaded {
        transform: translateY(0);
        opacity: 1;
    }

    &__status {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 2px;
        transition: color .3s;

        &--online {
            background-color: green;
        }
    }

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    &__image {
        padding-top: 70%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: -10px -10px 13px -10px;
        position: relative;
    }

    &__color {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #7057db;
    }

    &__nickname {
        margin-bottom: 13px;
        font-size: 20px;
    }

    &__section {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        &-title {
            font-size: 11px;
            text-transform: uppercase;
            margin-bottom: 7px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        &-item {
            margin-right: 5px;
            font-size: 14px;
            line-height: 1.4;

            &:after {
                content: ','
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }

    &__button {
        z-index: 3;
        text-align: center;
        width: auto;
        transition: opacity .3s, visibility .3s, transform .3s, color .3s, background-color .3s;

        @media screen and (min-width: 1200px) {
            position: absolute;
            bottom: 10px;
            left: 10px;
            right: 10px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(20px);
        }
    }

    &:hover {
        box-shadow: 0 0 60px rgba(38, 37, 88, 0.2);

        .p-card__button {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

</style>

