<template lang='pug'>
    div(v-if="chat" v-bind:class="{ 'checked': chat.$value.info.user1.uid == $store.state.messages.checkedChat || chat.$value.info.user2.uid == $store.state.messages.checkedChat}").messages__user
        div(v-if="chat.$value.messages.length > 0 && chat.$value.messages[chat.$value.messages.length - 1].author.uid !== $store.state.auth.user.uid && !chat.$value.messages[chat.$value.messages.length - 1].read").messages__user-indicator
        div(v-bind:style="{ backgroundImage: 'url('+ image +')' }").messages__user-image
        div.messages__user-data 
            div.messages__user-nickname {{chat.$value.info.user1.userName == $store.state.auth.user.displayName ? chat.$value.info.user2.userName : chat.$value.info.user1.userName }}
            div(v-if='chat.$value.messages.length > 0').messages__user-lastmessage {{chat.$value.messages[chat.$value.messages.length - 1].text}}
        // div.messages__user-dots
        div(v-if="online").messages__user-status
        div.messages__user-drop
            div.messages__user-drop-item Block
        div(v-on:click='checkChat(chat.$value.info.user1.uid == $store.state.auth.user.uid ? chat.$value.info.user2.uid : chat.$value.info.user1.uid)').messages__user-area

</template>

<script>
import Vue from 'vue'

import firebase from 'firebase/app'
require('firebase/auth')
require('firebase/database')
import 'firebase/firestore'
import { setTimeout } from 'timers';

export default {

    data() {
        return {
            online: false,
            image: null
        }
    },

    props: {
        chat: Object
    },

    methods: {
        checkChat(id) {
            this.$store.commit('messages/checkChat', id)
        },
    },

    created() {

        setTimeout(() => {
            let userId = this.$store.state.auth.user.uid == this.chat.$value.info.user1.uid ? this.chat.$value.info.user2.uid : this.chat.$value.info.user1.uid
            let that = this

            firebase.database().ref('users/' + userId).on('value', (snapshot) => {
                if (snapshot.val() == 'online') {
                    this.online = true
                } else {
                    this.online = false
                }
            })

            firebase.firestore().collection('users').where('uid', '==', userId).get().then((snapshot) => {
                this.image = snapshot.docs[0].data().userImage
            })
        }, 100);
        
    },
}
</script>

<style>

</style>


