<template lang='pug'>   
    div.p-card(v-bind:class="{ 'p-card--loaded': loaded }")
        div(v-bind:class="{ 'p-card__status--online': online }").p-card__status 
        // router-link(:to="{ path: '/user/' + user.uid}").p-card__link
        div(v-bind:style="{ backgroundImage: 'url(' + user.userImage + ')' }").p-card__image
            .p-card__color(v-if="user.userImage.length == 0" v-bind:style="{ backgroundColor: '#' + Math.random().toString(16).substr(-6) }")
        div.p-card__nickname {{user.userName}}
        div.p-card__section
            div.p-card__section-title I Know
            div.p-card__list
                div(v-for='lang in user.knowLangs').p-card__list-item {{ lang }}
        div.p-card__section
            div.p-card__section-title I Learn
            div.p-card__list
                div(v-for='lang in user.learnLangs').p-card__list-item {{ lang }}
        div(v-if="$store.state.auth.user" v-on:click='checkChat(user)').p-card__button.button.button--green Text me
        div(v-if="!$store.state.auth.user" v-on:click='$store.dispatch("view/showPopup", "registration")').p-card__button.button.button--green Sign Up
</template>

<script>

import firebase from 'firebase/app'
require('firebase/auth')
require('firebase/database')
import 'firebase/firestore'

export default {
    data() {
        return {
            online: false,
            loaded: false
        }
    },

    props: {
        user: Object
    },

    created() {
        firebase.database().ref('users/' + this.user.uid).on('value', (snapshot) => {
            if (snapshot.val() == 'online') {
                this.online = true
                this.loaded = true
            } else {
                this.online = false
                this.loaded = true
            }
        })
    },

    methods: {
        checkChat(user) {

            let myId = this.$store.state.auth.user.uid
            let checkedId = user.uid
            let conversationId = null

            if (myId > checkedId) {
                conversationId = myId + checkedId
            } else {
                conversationId = checkedId + myId
            }

            if (this.$store.state.messages.conversations[conversationId] == undefined) {

                let data = {
                    myData: {
                        userName: this.$store.state.auth.user.displayName,
                        photoUrl: this.$store.state.auth.user.photoURL,
                        uid: this.$store.state.auth.user.uid
                    },
                    remoteUser: user,
                    conversation: conversationId
                }

                this.$store.commit('messages/createLocalConversation', data)
            }

            this.$store.commit('messages/checkChat', checkedId)
            this.$router.push({
                path: '/messages'
            })
       }
    }
}
</script>
