<template lang='pug'>
    div.lk
        div.lk__row
            div.lk__image
                div(v-bind:style="{ backgroundImage: 'url(' + $store.state.user.user.userImage + ')' }").lk__image-file
                div.lk__image-over

            div.lk__content
                div.lk__line
                    div.lk__username {{$store.state.user.user.userName}}
                div.lk__line
                    div.lk__line-title I Know
                    div.lk__line-tags
                        div(v-for='lang in $store.state.user.user.knowLangs').lk__line-tag {{lang}}
                        
                div.lk__line
                    div.lk__line-title I Learn
                    div.lk__line-tags
                        div(v-for='lang in $store.state.user.user.learnLangs').lk__line-tag {{lang}}

                div.lk__buttons
                    div.lk__buttons-item
                        div(v-on:click='checkChat($store.state.user.user)').button.button--blue Text me
</template>

<script>

export default {

    data() {
        return {

        }
    },

    methods: {

        checkChat(user) {

            let myId = this.$store.state.auth.user.uid
            let checkedId = user.uid
            let conversationId = null

            if (myId > checkedId) {
                conversationId = myId + checkedId
            } else {
                conversationId = checkedId + myId
            }

            if (this.$store.state.messages.conversations[conversationId] == undefined) {

                let data = {
                    myData: {
                        userName: this.$store.state.auth.user.displayName,
                        photoUrl: this.$store.state.auth.user.photoURL,
                        uid: this.$store.state.auth.user.uid
                    },
                    remoteUser: user,
                    conversation: conversationId
                }

                this.$store.commit('messages/createLocalConversation', data)
            }

            this.$store.commit('messages/checkChat', checkedId)
            this.$router.push({
                path: '/messages'
            })
       }
    },

    mounted() {
        this.$store.dispatch('user/loadUserData', this.$route.params.id)
    },

    destroyed() {
        this.$store.commit('user/setLoadedUserData', {})
    }
}
</script>

<style lang='scss'>

.lk {

    &__row {
        display: flex;
    }

    &__image {
        width: 250px;
        height: 170px;
        flex-shrink: 0;
        margin-right: 30px;
        border-radius: 5px;
        overflow: hidden;
        background-color: #cccccc;
        position: relative;

        &-file {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background-color: rgb(151, 105, 105);
        }

        &-over {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #000;
            z-index: 2;
            opacity: 0;
            transition: opacity .3s;

            &:after {
                position: absolute;
                content: '';
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
            }
        }

        &:hover {

        }
    }

    &__content {
        flex-grow: 2;
    }

    &__line {
        margin-bottom: 20px;

        &-title {
            font-size: 14px;
            margin-bottom: 5px;
        }

        &-languages {
            width: 250px;

            .login__multiselect {
                width: 100%;
            }
        }

        &-tags {
            display: flex;
        }

        &-tag {
            padding: 5px;
            border-radius: 3px;
            background-color: #2d2e5e;
            color: #ffffff;
            margin-right: 10px;
            font-size: 14px;
        }
    }

    &__username {
        font-size: 30px;
    }

    &__buttons {
        display: flex;

        &-item {
            margin-right: 20px;
        }
    }
}

</style>
