<template lang='pug'>
  div(v-bind:class="{ 'dark': $store.state.view.theme == 'dark' }").page
    AppHeader
    div.content
      .container
        nuxt
    AppFooter
    AppNotify
    LoginPopup
    VideoFrame
    VideoCall
</template>

<script>
import AppHeader from '~/components/standing/AppHeader.vue'
import AppFooter from '~/components/standing/AppFooter.vue'
import AppNotify from '~/components/standing/AppNotify.vue'

import VideoFrame from '~/components/Video.vue'
import VideoCall from '~/components/incomingCall.vue'

import LoginPopup from '~/components/LoginPopup.vue'

export default {
  components: {
    AppHeader,
    AppFooter,
    AppNotify,
    LoginPopup,
    VideoCall,
    VideoFrame
  },

  mounted() {
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      this.$store.dispatch('view/changeTheme', 'dark', {root: true})
    }
  }
}
</script>

<style lang='scss'>

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  outline: none;
}

body {
  overflow-x: hidden;
  background-color: #f9f8ff;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  padding-top: 90px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  
  @media screen and (min-width: 1000px) {
    padding: 0 50px;
  }
}

.button {
  cursor: pointer;
  border: 1px solid transparent;
  transition: color .3s, border-color .3s, background-color .3s;
  padding: 7px 15px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  display: block;
  width: 100%;
  text-decoration: none;
  position: relative;
  font-weight: 700;
  letter-spacing: 0.015em;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../assets/images/preloader.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
  }

  &--loading {
    pointer-events: none;
    &:after {
      opacity: 1;
    }
  }

  &--light {
    border: 1px solid rgb(23, 152, 125);
    color: rgb(23, 152, 125);

    &:hover {
      color: #fff;
      background-color: rgb(23, 152, 125);
    }
  }

  &--green {
      color: #fff;
      background-color: rgb(23, 152, 125);
      border: 1px solid rgb(23, 152, 125);

      &:hover {
        background-color: #fff;
        color: rgb(23, 152, 125);
      }
  }

  &--red {
    color: #fff;
    background-color: rgb(139, 38, 38);
    border: 1px solid rgb(139, 38, 38);

      &:hover {
        background-color: rgb(158, 43, 43);
        color: rgb(255, 255, 255);
      }
  }
}

.link {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: opacity .3s;

  &:hover {
    opacity: 0.7;
  }
}

</style>

