<template lang='pug'>
div
    div(v-if='this.$store.state.auth.userData.uid !== undefined').lk
        div.lk__row
            div.lk__image
                div(v-bind:style="{ backgroundImage: 'url(' + this.$store.state.auth.userData.userImage + ')' }").lk__image-file
                form
                    input(type='file' capture="camera" @change="uploadImage").lk__image-over
            div(
                v-bind:class="{ 'lk__content--editable': this.edit }"
            ).lk__content
                div.lk__line
                    div.lk__username {{this.$store.state.auth.userData.userName}}
                div.lk__line
                    div.lk__line-title I Know 
                    div.lk__line-languages
                        multiselect(
							v-model="$store.state.auth.userData.knowLangs"
							:options="languages" 
							:multiple="true",
							tag-placeholder="Add language",
							placeholder="Search or add a language"
						).login__multiselect
                div.lk__line
                    div.lk__line-title I Learn
                    div.lk__line-languages
                        multiselect(
							v-model="$store.state.auth.userData.learnLangs"
							:options="languages" 
							:multiple="true",
							tag-placeholder="Add language",
							placeholder="Search or add a language"
						).login__multiselect

                div.lk__buttons
                    div(
                        v-if='!this.edit'
                    ).lk__buttons-item
                        div(v-on:click='edit = !edit').button.button--green Edit

                    div( v-if='this.edit').lk__buttons-item
                        div(v-on:click='submitNewLangs').button.button--green Apply

                    div().lk__buttons-item
                         div.button.button--light Set user image
                            form
                                input(type='file' capture="camera" @change="uploadImage").lk__image-over
                
</template>

<script>

import Multiselect from 'vue-multiselect'   
import data from 'assets/data/languages.json'
import firebase from 'firebase/app'
require('firebase/storage')
import 'firebase/firestore'

export default {
    components: { 
        Multiselect
    },

    data() {
        return {
            user: {},
            languages: [],
            edit: false,
            userImage: ''
        }
    },

    methods: {

        submitNewLangs: function () {
            let that = this
            this.edit = false

            firebase.firestore().collection('users').where("uid", "==", that.$store.state.auth.userData.uid).get().then(function(querySnapshot) {
                querySnapshot.forEach(function(doc) {
                    firebase.firestore().collection("users").doc(doc.ref.id).update({
                        knowLangs: that.$store.state.auth.userData.knowLangs,
                        learnLangs: that.$store.state.auth.userData.learnLangs
                    }).then(() => {
                        that.$store.dispatch('view/showNotify', 'Languages changed successfully', {root:true})
                    }).catch((err) => {
                        console.log(err)
                    })
                })
            })
        },

        uploadImage: function (event) {
            
            let that = this
            let userId = that.$store.state.auth.user.uid
            let storageRef = firebase.storage().ref('photos/' + userId + '/')

            storageRef.put(event.target.files[0])
            .then(() => {
                storageRef.getDownloadURL().then(function(downloadURL) {
                    firebase.firestore().collection('users').where("uid", "==", that.$store.state.auth.user.uid).get().then(function(querySnapshot) {
                        querySnapshot.forEach(function(doc) {
                            firebase.firestore().collection("users").doc(doc.ref.id).update({
                                userImage: downloadURL
                            }).then(() => {
                                that.$store.state.auth.userData.userImage = downloadURL
                            })
                        })
                    })
                })
            }).catch(err => console.log(err))
        }
    },

    mounted() {
        let language
		for (language of data) {
			this.languages.push(language.name)
        }
        
    }
}
</script>


<style lang="scss">

.lk {

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__image {
        width: 250px;
        height: 250px;
        flex-shrink: 0;
        border-radius: 50%;
        margin-bottom: 30px;
        overflow: hidden;
        background-color: #cccccc;
        position: relative;

        @media screen and (min-width: 768px) {
            margin-right: 30px;
        }

        &-file {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        &-over {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #000;
            z-index: 2;
            opacity: 0;
            transition: opacity .3s;

            &:after {
                position: absolute;
                content: '';
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
            }
        }

        &:hover {

        }
    }

    &__content {
        flex-grow: 2;
        width: 100%;
        padding-bottom: 60px;

        @media screen and (min-width: 768px)  {

        }

        &--editable {

            .lk {

                &__line {

                    &-languages {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
        }
    }

    &__line {
        margin-bottom: 20px;

        &-title {
            font-size: 14px;
            margin-bottom: 5px;
        }

        &-languages {
            width: 250px;
            opacity: .5;
            pointer-events: none;

            .login__multiselect {
                width: 100%;
            }
        }
    }

    &__username {
        font-size: 30px;
    }

    &__buttons {
        display: flex;

        &-item {
            margin-right: 20px;
        }
    }
}

</style>
