<template lang='pug'>
    div.messages
        div.messages__inner 
            div.messages__users
                // div.messages__users-search
                    input(type='text' placeholder='Search').messages__users-search-input
                div.messages__users-list
                    div(v-for="(chat, key) in orderBy($store.state.messages.conversations,'info.timestamp.seconds' , -1)")
                        messagesUser(
                            v-bind:chat="chat"
                            v-bind:key="key"
                        )

            div.messages__chat
                div(v-if='$store.state.messages.checkedChat == null').messages__chat-notify Please, select chat
                div(v-if='$store.state.messages.checkedChat !== null').chat
                    div(v-chat-scroll="{always: true, smooth: false, scrollonremoved:false, smoothonremoved: false}").chat__window#chat-window
                        div(
                            v-for='(conversation, key) in $store.state.messages.conversations'
                            v-if='conversation.messages.length > 0 && conversation.messages[0].fromTo.indexOf($store.state.messages.checkedChat) !== -1'
                            ).chat__window-inner
                            chatMessage(
                                v-for="(message, key) in conversation.messages"
                                v-bind:key="key"
                                v-bind:message="message"
                            )
                            
                    div.chat__controls
                        form(@submit.prevent="sendMessage")
                            div.chat__controls-row
                                textarea(placeholder='type your message' v-model='message.text' required v-on:keyup.enter="sendMessage").chat__controls-textarea
                                button.chat__controls-icon.chat__controls-icon--sent
                                div(v-on:click='videoCall($store.state.messages.checkedChat, getRoomId($store.state.messages.checkedChat))').chat__controls-icon.chat__controls-icon--videocall
</template>


<script>
import firebase from 'firebase/app'
require('firebase/auth')
require('firebase/database')
import 'firebase/firestore'

import chatMessage from '~/components/chatMessage.vue'
import messagesUser from '~/components/messagesUser.vue'

import Vue from 'vue'
import Vue2Filters from 'vue2-filters'
import VueChatScroll from 'vue-chat-scroll'

Vue.use(Vue2Filters)
Vue.use(VueChatScroll)

export default {

    mixins: [Vue2Filters.mixin],

    components: {
        chatMessage,
        messagesUser
    },

    data() {
        return {
            message: {
                text: '',
                from: '',
                to: ''
            },
            conversations: {}
        }
    },

    methods: {
       sendMessage() { 
           let data = {
                message: {
                    text: this.message.text,
                    author: {
                        name: this.$store.state.auth.user.displayName,
                        uid: this.$store.state.auth.user.uid,
                        photo: this.$store.state.auth.user.photoURL
                    },
                    to: this.$store.state.messages.checkedChat,
                    fromTo: [this.$store.state.auth.user.uid, this.$store.state.messages.checkedChat],
                    timestamp: firebase.firestore.Timestamp.fromDate(new Date()),
                    read: false
               },
               info: {
                   timestamp: firebase.firestore.Timestamp.fromDate(new Date()),
                   user1: {
                        userName: this.$store.state.auth.user.displayName,
                        photoUrl: this.$store.state.auth.user.photoURL,
                        uid: this.$store.state.auth.user.uid
                   },
                   user2: {
                        userName: '',
                        photoUrl: '',
                        uid: ''
                   }
               }
            }

            this.message.text = ''

           this.$store.dispatch('messages/sendMessage', data)
       },

       videoCall(userId, roomId) {
           let payload = {
               userId,
               roomId
           }
           this.$store.dispatch('videocall/call', payload)
       },

       getRoomId(id) {

           let myId = this.$store.state.auth.user.uid

           if (myId > id) {
               return myId + id
           } else {
               return id + myId
           }
       }
    }
}
</script>


<style lang='scss'>

.messages {
    height: 100%;

    &__inner {
        display: flex;
        height: 100%;
    }

    &__users {
        width: 330px;
        flex-shrink: 0;
        height: calc(100vh - 95px);
        overflow-y: scroll;

        &-search {
            padding: 15px 15px 0 15px;

            &-input {
                display: block;
                width: 100%;
                border: none;
                padding: 10px;
                border-bottom: 1px solid rgba(63, 69, 156, 0.37);
            }
        }

        &-list {
            padding: 15px 30px 15px 15px;
        }
    }

    &__user {
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px;
        transition: background-color .3s, transform .3s;
        margin-bottom: 10px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);

        &:last-child {
            border: none;
        }

        &-indicator {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgba(63, 69, 156, 0.87);
        }

        &.checked {
            transform: translateX(15px);

            &:hover {
                transform: translateX(15px);
            }
        }

        &-image {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            flex-shrink: 0;
            margin-right: 15px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &-data {
            flex-grow: 2;
            width: 100%;
        }

        &-nickname {
            display: block;
            text-decoration: none;
            transition: color .3s;
            color: rgb(55, 50, 124);
            margin-bottom: 5px;

            &:hover {
                color: rgb(86, 79, 192);
            }
        }

        &-lastmessage {
            color: rgb(36, 32, 83);
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden; 
            width: calc(100% - 40px); 
            white-space: nowrap;
        }

        &-drop {
            position: absolute;
            right: 0;
            top: 0;
            box-shadow: 0 0 40px rgba(38, 37, 88, 0.1);
            background-color: #ffffff;
            // padding: 10px;
            z-index: 5;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s, visibility .3s;

            &-item {
                font-size: 14px;
                padding: 7px;
                cursor: pointer;
                color: rgb(55, 50, 124);
                transition: color .3s;

                &:hover {
                    color: rgb(86, 79, 192);
                }
            }
        }

        &-dots {
            position: absolute;
            z-index: 4;
            right: 5px;
            top: 10px;
            width: 15px;
            height: 15px;
            background-image: url(../assets/images/menu.svg);
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                left: -10px;
                top: -10px;
                bottom: -10px;
                right: -10px;
            }
        }

        &-area {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            cursor: pointer;
        }

        &-status {
            position: absolute;
            left: 63px;
            bottom: 18px;
            width: 8px;
            height: 8px;
            background-color: rgb(23, 152, 125);
            border-radius: 50%;
        }

        &:hover {
            transform: translateX(5px);
        }
    }

    &__chat {
        flex-grow: 2;
        padding: 0 0 0 15px;

        &-notify {
            text-align: center;
            padding: 30px;
        }
    }
}

.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__window {
        position: relative;
        height: calc(100vh - 168px);
        overflow-y: scroll;
       
        &-inner {
            margin: auto 0 0 0;
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        &-alert {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 30px;
            font-size: 14px;
            cursor: pointer;
            text-decoration: underline;
            color: rgb(60, 69, 199);
            z-index: 1;
            transition: color .3s;

            &:hover {
                color: rgba(60, 69, 199, 0.808);
            }
        }
    }

    &__controls {
        flex-shrink: 0;
        height: 70px;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        border-radius: 15px;
        display: flex;
        align-items: center;

        &-row {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 20px;
        }

        & form {
            width: 100%;
        }

        &-textarea {
            display: block;
            border: none;
            resize: none;
            flex-grow: 2;
            display: flex;
            align-items: center;
        }

        &-icon {
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 7px;
            cursor: pointer;
            transition: transform .3s;
            border: none;

            &:hover {
                transform: scale(1.1);
            }

            &--sent {
                background-image: url(../assets/images/sent-mail.svg);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #288bf2;
                box-shadow: 0 10px 10px rgba(#288bf2, 0.8);
                background-size: 25px 25px;
            }

            &--videocall {
                background-image: url(../assets/images/videocall.svg);
                background-size: 25px 25px;
            }
        }
    }

    &__message {
        position: relative;
        margin-bottom: 5px;
        max-width: 250px;
        padding: 10px 15px;
        border-radius: 15px;
        overflow: hidden;
        background-color: #e8e6ef;
        min-width: 250px;
        border: 1px solid transparent;
        transition: border-color .3s;

        &:after {
            content: '';
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 15px;
            height: 10px;
            background-image: url(../assets/images/tick.svg);
            background-position: center;
            background-repeat: no-repeat;
            transition: opacity .3s;
        }

        &--unread {

            &:after {
                opacity: .3;
            }
        }

        &--my {
            align-self: flex-end;
            background-color: #288bf2;
            color: #ffffff;

            &:after {
                filter: invert(1);
            }
        }

        &-author {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
            transition: color .3s;
            text-decoration: none;

        }

        &-text {
        }

        &-date {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 10px;
            opacity: .7;
        }
    }
}

</style>



