<template lang='pug'>
    footer.footer
        .container
            .footer__inner
                a(href="mailto:dima6343210@yandex.ru").footer__link Questions/offers
                a(href="https://www.instagram.com/dima.voropaev/").footer__link Me
</template>

<style lang="scss">
.footer {
    padding: 30px 0;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__link {
        margin-bottom: 15px;
        color: #000;
        font-weight: 900;
        text-decoration: none;
        transition: color .3s;

        &:hover {
            color: #288bf2;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
</style>

