<template lang='pug'>
    header.header
        div.container
            div.header__row
                div.header__logo
                    router-link(to='/').header__logo-link talkasnative
                div(v-if='!$store.state.auth.authentificated').header__buttons
                    div.header__buttons-item.-desktop
                        div(v-on:click='$store.dispatch("view/showPopup", "signin")').button.button--light Log In
                    div.header__buttons-item
                        div(v-on:click='$store.dispatch("view/showPopup", "registration")').button.button--green Registration

                div(v-if='$store.state.auth.authentificated').header__controls
                    div.header__user
                        router-link(to='/lk').header__user-link
                        div.header__user-image(v-if="$store.state.auth.userData.userImage" v-bind:style="{ backgroundImage: 'url(' + $store.state.auth.userData.userImage + ')' }")
                        div.header__user-info(v-if="!$store.state.auth.userData.userImage")
                            div.header__user-name {{this.$store.state.auth.userName}} 
                    router-link(to='messages').header__icon.header__icon--messages
                        span(v-if='this.$store.state.messages.messages.unread') {{this.$store.state.messages.messages.unread}}
                    div(v-on:click='$store.dispatch("auth/signOutFunc")').header__icon.header__icon--logout
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    data() {
        return {
            
        }
    },

    computed: {
        ...mapGetters({
            getUser: 'auth/displayName',
        }),
    },
    mounted() {
        this.$store.dispatch('auth/checkUserStatus')
    } 
}
</script>

<style lang="scss">
.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 10px 0;
    z-index: 20;

    &__row {
        display: flex;
        align-items: center;
    }

    &__logo {
        &-link {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 900;
            color: #000;
            font-size: 14px;
            letter-spacing: 0.02em;
            font-family: sans-serif;
        }
    }

    &__buttons {
        display: flex;
        margin-left: auto;

        &-item {
            margin-right: 20px;
            
            &.-desktop {
                display: none;
            }

            @media screen and (min-width: 768px) {
                &.-desktop {
                    display: block;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__user {
        display: flex;
        align-items: center;
        position: relative;

        &:hover {

            .header__user-image {
                transform: scale(1.1);
            }
        }

        &-link {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }

        &-image {
            width: 40px;
            height: 40px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex-shrink: 0;
            border-radius: 50%;
            transition: transform .3s;
        }

        &-name {
            font-family: sans-serif;
        }

        &-info {
            margin-left: 20px;
        }
    }

    &__icon {
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 20px;
        cursor: pointer;
        position: relative;
        
        &:last-child {
            margin-right: 0;
        }

        &--messages {
            background-image: url(../../assets/images/mail.svg);
        }

        &--logout {
            background-image: url(../../assets/images/logout.svg);
        }

        span {
            position: absolute;
            right: -8px;
            top: -8px;
            color: #ffffff;
            background-color: rgb(45, 46, 94);
            width: 13px;
            height: 13px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
        }
    }
}

</style>

