<template lang='pug'>
    .notify(v-bind:class="{ 'notify--visible': $store.state.view.notify.visible }")
        .notify__message {{$store.state.view.notify.message}}
</template>

<style lang='scss'>

.notify {
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(calc(100% + 20px));
    width: 270px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    background-color: #ffffff;
    bottom: 20px;
    transition: transform .3s;
    z-index: 100;

    @media screen and (min-width: 768px) {
        width: 370px;
        padding: 30px;
    }

    &--visible {
        transform: translateX(-50%) translateY(0%);
    }

    &__message {
        font-size: 14px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
    }
}
</style>

